@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #E9ECF8;
    --color-secundario: white;
    --color-terciario: #0A3871;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-primario);
    height: 100vh;
}
* {
    margin: 0%;
    text-decoration: none;
}
/*------------------------------------------------------------------------------------------*/
.main {
    margin: 4vh;
    display: flex;
    justify-content: center;
    gap: 5%;
    box-sizing: border-box;
}
/*------------------------------------------------------------------------------------------*/
.logo{
    width: 3vh;
    height: 4vh;

}
.container1 {
    height: 90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}

.area-texto {
    margin-top: 7vh;
    color: var(--color-terciario);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color: var(--color-primario);
    border: none;
    font-size: 4vh;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.area-texto:focus {
    border: none;
    outline: none;
}

::placeholder{
    text-decoration: none;
    color: var(--color-terciario);
}
.seccion-botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boton {
    margin-bottom: 3vh;
    font-family: "Montserrat", sans-serif;
    padding: 2vh;
    border: 1px solid var(--color-terciario);
    border-radius: 24px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cifrar-boton {
    width: 48%;
    background-color: var(--color-terciario);
    color: var(--color-primario);
}



#descifrar-boton {
    width: 48%;
    background-color: var(--color-primario);
    color: var(--color-terciario);
}

#copiar-boton{
    background-color: var(--color-secundario);
    width: 90%;
}

#cifrar-boton:hover {
    background-color: #1256aa;
    color: var(--color-primario);
}

#descifrar-boton:hover {
    background-color: rgb(224, 224, 224);
    color: var(--color-terciario);
}

/*Container 2 Actualizado------------------------------------------------------------------------------------------*/

.parrafoResultado{
    text-align: left;
    margin: 10%;
    width: auto;
    height: 90vh;
    font-size: 3vh;
}

#copiar-boton:hover{
    background-color: rgb(224, 224, 224);;
}

small {
    font-size: 1rem;
    color: gray;
}
/*----------------------------------------------------------------------------------------------------------------*/
.container2 {
    background-color: var(--color-secundario);
    height: 90vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.imagen-mensaje {
    width: auto;
    margin-bottom: 20px;
}

.mensaje-container{
    text-align: center;
    width: auto;
    margin: 0% 6%;
}
.titulo{
    margin: 1vh;
    font-size: 1.5rem;
}
p{
    margin: 1vh;
    font-size: 2vh;
}

footer {
    padding: 5px;
    bottom: 0px;
    position: fixed;
    align-content: end;
    color: rgb(119, 119, 119);
    font-size: 2vh;

}

@media (max-width:1000px){
    .main{
        flex-direction: column;
    }
    .container1{
        width: auto;
        height: 80vh;
    }

    .container2{
        width: auto;
        height: auto;
    }

    .imagen-mensaje{
        display: none;
    }

    .parrafoResultado{
        height: auto;
    }

    footer{
        display: none;
    }
}

@media (max-width:600px) {
    .seccion-botones{
        flex-direction: column;
    }
    
    #cifrar-boton, #descifrar-boton{
        width: 100%;
    }

}